* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.inline {
  display: inline-block;
  margin-top: 20px;
}

.block {
  display: block;
}
