* {
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  display: block;
  height: 200px;
  background-color: blue;
  border: 1px solid #000;
}

.inline {
  display: inline;
  background-color: green;
  border: 1px solid #000;
}

.inline-block {
  margin-top: 30px;
  display: inline-block;
  background-color: pink;
  border: 1px solid #000;
}
