* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

div {
  height: 200px;
  color: black;
}

a {
  color: red;
}

#paragrafo1 {
  font-weight: bold;
}

.negrito {
  font-weight: bold;
}

p ~ a {
  font-weight: bold;
  color: green;
}

p > a {
  font-weight: bold;
  color: orange;
}

div a {
  font-weight: bold;
  color: purple;
}
